---
title: Portfolio
heading: Our books
subtitle: The finest in fantasy and genre fiction, plus a few surprises.
layout: default
---
<h1>OUR BOOKS</h1>
<section>
	{% assign unique_tags = '' | split: '' %}
	{% assign serieses = site.data.processed_books | group_by: "series" | sort: "title" | reverse %}
	{% for series in serieses  %}
		<ul class="image-grid">
			{% for book in series.items %}
				{% unless unique_tags contains book.title %}
					<li class="image">
						<a href="{{site.base_url}}{{ book.title | datapage_url: '/books'}}">
							<img src="{% include relative-src.html src=book.image_path %}" class="cover" alt="{{ book.title }}">
						</a>
						<p class="metadata">
							<b>{{ book.title }}</b><br/>
							{{ book.author }}<br/>
						</p>
					</li>
					{% assign unique_tags = unique_tags | push: book.title  %}
				{% endunless %}
			{% endfor %}
		</ul>
	{% endfor %}
</section>
