<div class="line">
		<div class="circle">
			<div class="mask">
				<div class="stroke"></div>
			</div>
		</div>
	</div>

	<nav class="nav">
		<ul class="nav-item-container ">
			<li class="nav-item not-mobile"><a href="{{ site.baseurl }}/">Home</a></li>
			<li class="nav-item"><a href="/portfolio/">Books</a></li>
		</ul>
		<ul class="nav-item-container">
			<li ><a href="{{ site.baseurl }}/" class="snowflake nav-item "></a></li>
		</ul>
		<ul class="nav-item-container">
			<li class="nav-item not-mobile"><a href="/about/">About</a></li>
      <li class="nav-item"><a href="/archive/">Blog</a></li>
		</ul> 
	</nav>